@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;1,200;1,300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400,700&display=swap&subset=latin-ext");

/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
 * esmerald: #43bd69,
 * magic-mint: #6cf195,
 * mine-shaft: #464646,
 * dove-gray: #5d5b5b,    
 * silver: #c8c8c8,    
*/

body {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
}

.nav-style {
  background-color: #5d5b5b;
}

.footer-container {
  color: #5d5b5b;
}

h1 {
  font-family: "Oleo Script", cursive;
  color: red;
}

small.footer-small-logo {
  font-size: 50px;
}

#h {
  margin-right: 60px;
  border-top: 20px solid transparent;
  border-bottom: 700px solid transparent;
  border-right: 700px solid rgb(75, 32, 175);
}

.how-work {
  background-color: rgb(236, 232, 232);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

#tri1 {
  clip-path: ellipse(60% 90%);
  shape-outside: ellipse(60% 90%);
  width: 45vw;
  height: 90vh;
  background: url(../img/prestador_fundo_transparente.png);
  background-size: cover;
}

#tri2 {
  float: right;
}

.wrapper {
  display: flex;
}

.main {
  flex: 4;
}

.main h2 {
  font-size: 32px;
  margin: 2rem 2;
  color: #764abc;
  text-transform: uppercase;
}

.main p {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.polygon {
  width: 50vw;
  height: 90vh;
  /* background-color: #764ABC; */
  background-image: url("../img/prestador_fundo_transparente.png");
  background-size: cover;
  float: left;
  shape-outside: ellipse(300px 400px at 60% 50%) padding-box;
  clip-path: ellipse(300px 400px at 50% 50%);
  padding-right: 40px;
  margin-right: 10px;
}

.img-inner {
  /**/
}
