@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800,900i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oleo+Script:400,700&display=swap&subset=latin-ext");

/* normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
 * esmerald: #43bd69,
 * magic-mint: #6cf195,
 * mine-shaft: #464646,
 * dove-gray: #5d5b5b,    
 * silver: #c8c8c8,    
*/

body {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 500;
}

/*
* nav and footer style
*/

.nav-style {
  background-color: #5d5b5b;
}

.img-logo{
  width: 12rem;
  /*width: 200px;
  height: 50px;*/
}

/* NavBar Resposive */
.nav-btn-responsivel{
  background-color: #43bd69; 
}
.navbar .navbar-toggler .icon-bar{
  background-color: #43bd69 !important;
}
.nav-btn-border{
  border: 2px solid #43bd69;
}

/* Menu */
.menu{
  text-align:center;
  padding: 1px 5px 1px 5px;
  font-size: 18px;
  text-decoration: #fff;
}
.nav-link{
  color: #43bd69; 
  padding-left: 3rem; 
  padding-right: 3rem;
}
.nav-link-cadastro{
  color: #fff;
}

.link-cadastrar{
  background: #43bd69;
  border-radius: 5px;
  ;
}
.link-houver{
  border: 1px solid #5d5b5b;
  background-color: #5d5b5b;
}
.link-houver:hover{
  transition-duration: 0.4s;
  border-radius: 5px;
  border: 1px solid white;
}


/*Footer*/
.footer-container {
  color: #5d5b5b;
}
#exampleInputEmail1 {
  border-radius: 100px;
}

/*
* end nav and footer style
*/


/*
* hero section
*/

/*
* end hero section
*/

small.footer-small-logo {
  font-size: 50px;
}

/*
* login section
* ###########################################
*/
/*
* card style
*/
.login-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.login-section::before {
  content: "";
  background-image: url("../img/prego_martelo.jpg");
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  transform: scaleX(-1);
  opacity: 0.3;
}

.card-header_title {
  font-size: 1.6rem;
  font-weight: 200;
}

.card-footer_call {
  font-size: 0.7rem;
}

.card-footer_call a {
  color: inherit;
}

.card-footer_body-senha {
  display: block;
}

.card-footer_body-senha a {
  color: inherit;
  font-weight: 200;
  font-size: 0.8rem;
}

form-group input {
  border-radius: 50px;
}

/*
* text login section
*/

.text-side-login p {
  font-size: 1.5rem;
}

.text-side-login span {
  font-size: 1.8rem;
  font-weight: 800;
  letter-spacing: 0.1em;

  text-shadow: 2px 3px #ccc;
}

.text-side-login_fixalar {
  color: #43bd69;
}
/*
*
* end text login section 
*/

/*
* end login section
*###########################################
*/

/*
* section how it works
* rack for photo
* be carfull if changes are needed!!
*
*/

.how-work {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
}

.wrapper {
  display: flex;
}

.main {
  flex: 4;
}

.main h2 {
  text-transform: uppercase;
}

.main p {
  margin-bottom: 0.75rem;
}

.polygon {
  width: 50vw;
  height: 90vh;
  background-image: url("../img/prestador_fundo_transparente.png");
  background-size: 550px;
  background-repeat: no-repeat;
  float: left;
  shape-outside: ellipse(300px 400px at 40% 40%) padding-box;
  clip-path: ellipse(400px 500px at 30% 40%);
  padding-right: 40px;
  margin-right: 10px;
}

#bairro {
  width: 300px;
  margin-right: 4px;
}

/*Profissionais em Destaque*/
a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}
