<!DOCTYPE html>
<html lang="pt-br">

<!--Head-->
<%- include('../includes/head', {title: 'Fixa Lar | Admin'}) %>

<link rel="stylesheet" type="text/css" href="/css/style-cadastro.css">

<body>
  <!--###### navbar section #############-->
  <%- include('../includes/header') %>

  <div class="card-cadastro">
    <div class="card">
      <div class="card-header text-white title-card">
        <h2>Index Admin Data Base</h2>
      </div>

      <div class="card-body">
        
       this is index admin dashboard

      </div>
      <!--fim do formulário-->
    </div>
  </div>
  <!--fim do card para cadastro-->

  <!-- footer section -->
  <%- include('../includes/footer') %>

  <!-- Bootstrap core JavaScript -->
  <script src="/jquery/jquery.slim.min.js"></script>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>