<footer id="footer-container" class="text-white-50 pt-3 pb-3" style="background-color: #5d5b5b;">
  <div class="container">
    <div class="container-fluid">
      <div class="row d-flex">
        <div class="col-sm">
          <a href="/"><img src="/img/Logo_FixaLar.png" alt="Fixa Lar" style="width: 10rem; padding: 20px 0 5px;" /></a>
          <span style="display: block; font-size: 12px; font-stretch: condensed; text-align: justify;"
            >Encontre o profissional que você precisa com a comodidade que você merece.</span
          >
          <h6 class="footer-container" style="color: #43bd69; padding-top: 1.5rem;">Entre em Contato</h6>
          <div class="row">
            <div class="col-1">
              <img src="/img/icon-material-email.png" alt="Email para Contato" width="12" height="10" />
            </div>
            <div class="col">
              <span style="font-size: 0.8rem;">contato@fixalar.com.br</span>
            </div>
          </div>
          <div class="row">
            <div class="col-1">
              <img src="/img/icon-whatsapp.png" alt="Whatsapp" width="12" height="12" />
            </div>
            <div class="col">
              <span style="font-size: 0.8rem;">11 9 8866-4455</span>
            </div>
          </div>
        </div>

        <div id="footer-links" class="col-sm">
          <ul class="nav flex-column" style="color: #43bd69;">
            <li>
              <span class="h5 pt-3 nav-link" href="#">Mapa do Site</span>
            </li>
            <li class="mb-3">
              <a class="text-white-50 ml-5" href="/#how-work">Como Funciona</a>
            </li>
            <li class="mb-3">
              <a class="text-white-50 ml-5" href="/#call-to-action">Seja Parceiro</a>
            </li>
            <li class="mb-3">
              <a class="text-white-50 ml-5" href="/#footer-container">Contato</a>
            </li>
          </ul>
        </div>

        <div id="footer-links" class="col-sm">
          <ul class="nav flex-column" style="color: #43bd69;">
            <li>
              <span class="h5 pt-3 nav-link" href="#">Links Úteis</span>
            </li>
            <li class="mb-3">
              <a class="text-white-50 ml-5" href="#">Serviços</a>
            </li>
            <li class="mb-3">
              <a class="text-white-50 ml-5" href="#">Termos e Condições</a>
            </li>
            <li class="mb-3">
              <a class="text-white-50 ml-5" href="#">Política de Privacidade</a>
            </li>
          </ul>
        </div>

        <div id="footer-links" class="col-sm">
        <!--<div class="col-sm">-->
          <div id="div-newsletter">
            
            <form id="form-newsletter" action="/newsletter" method="POST" class="d-flex flex-column justify-content-center align-items-center align-items-lg-start">

              <label class="h5 pt-3" for="newsletter" style="color: #43bd69;">Receba nossa newsletter</label>
            
              <input class="form-control" style="border-radius: 20px;" type="email" name="emailNewsletter" id="email-newsletter" placeholder="Ex.: email@email.com">
              <p class="align-self-start" id="erro-newsletter"></p>
            
               <button class="btn badge badge-pill btn-success my-2 my-sm-2 align-self-end" id="btn-news" type="submit">
                ENVIAR
              </button>
            
            </form>
        </div>

        
    </div>
    </div>
      </div>
    
    <!-- division hr -->
    <div class="mt-3 mb-3">
      <hr class="container-fluid" style="color: #c8c8c8; background-color: #c8c8c8; height: 1px; width: 96%;" />
    </div>
      
    <!-- division footer -->
    
    <div class="container-fluid">
      <div class="d-flex justify-content-between">
        <small>Por Grupo 2 DH</small>
        <div>
          <a href="#"><img src="/img/icon-twitter.png" alt="twitter" style="width: 2.5rem;" /></a>
          <a href="#"><img src="/img/icon-facebook.png" alt="facebook" style="width: 2.5rem;" /></a>
          <a href="#"><img src="/img/icon-linkedin.png" alt="instagram" style="width: 2.5em;" /></a>
        </div>

        <small>2020 &copy; Todos os direitos reservados.</small>
      </div>
    </div>
  </div>
  </div>
</footer>
<!-- footer end-section -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
  integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
  crossorigin="anonymous"
></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/newsletterScript.js"></script>
<!-- <script src="/js/newsletter.js"></script> -->
