<nav class="navbar navbar-expand-lg static-top nav-style sticky-top">
  <div class="container">
    <a class="navbar-brand" href="/">
      <img class="img-logo" src="/img/Logo_FixaLar.png" alt="Fixa Lar" />
    </a>
    <button
      class="navbar navbar-toggleable-md navbar-light navbar-toggler navbar-toggler-right nav-btn-border"
      type="button"
      data-toggle="collapse"
      data-target="#navbarResponsive"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="menu">
          <a class="nav-link btn-outline-success link-houver border-0" style="border-radius: 20px;" href="/#sect"
            >Como Funciona</a
          >
        </li>
        <li class="menu">
          <a
            class="nav-link btn-outline-success link-houver border-0"
            style="border-radius: 20px;"
            href="/#call-to-action"
            >Seja Parceiro</a
          >
        </li>
        <!--<li class="menu">
            <a class="nav-link btn-outline-success link-houver border-0" style="border-radius: 20px;" href="#">Serviços</a>
          </li>-->
        <li class="menu">
          <a
            class="nav-link btn-outline-success link-houver border-0"
            style="border-radius: 20px;"
            href="/#footer-container"
            >Contato</a
          >
        </li>

        <div class="vl"></div>

        <!-- Login/Logout Dinâmico -->
        <!-- Código está em loginDinamico.js -->
        <!-- Fim - Login/Logout Dinâmico -->

        <li class="menu">
          <a class="nav-link btn-outline-success link-houver border-0" style="border-radius: 20px;" href="/#login"
            >Login</a
          >
        </li>
        <li class="link-cadastrar menu btn-outline-success" style="border-radius: 50px;">
          <a class="nav-link-cadastro nav-link" href="/criarConta">Cadastre-se</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
