<!DOCTYPE html>
<html lang="pt-BR">

  <!--Head-->
<%- include('./includes/head', {title: 'Fixa Lar | Contratar'}) %>

<link rel="stylesheet" type="text/css" href="/css/contratar.css">

<body>
  <!--###### navbar section #############-->
<%- include('./includes/header') %>

    <main class="container py-4 bg-light col-lg-6 col-lg-offset-6">

      <div class="card m-2 " style="max-width: 740px;">

      <div class="card mb-3 m-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img
              src="/img/prestador_detalhes.png"
              class="img-thumbnail rounded-circle m-3"
              width="250"
              height="250"
              alt="Foto do prestador"
            />
          </div>
          <div class="col-md-8 pl-4">
            <div class="card-body">
              <h5 class="card-title">John Doe</h5>
              <h6>São Paulo - Tatuapé</h6>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <hr />
              <p class="card-text">Atendimento no mesmo dia dependendo da região, trabalho rápido e eficiente, ofereço garantia.</p>
              <p>Valor por serviço: R$ 20,00</p>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Serviço a contratar</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Montagem e desmontagem e móveis</option>
            <option>Encanamento - Instalação ou Reparo</option>
            <option>Chuveiro - Instalação ou Reparo</option>
            <option>Substituição de trilhos e gavetas</option>
            <option>Cortinas</option>
          </select>
          <br>
          <label for="exampleFormControlSelect1">Para quando deseja o serviço?</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Para os próximos 3 dias</option>
            <option>Para a próxima semana</option>
            <option>Dentro de 3 meses</option>
          </select>
          <br>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Opcional: Conte-nos detalhes do que precisa ser feito:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="7"></textarea>
          </div>

          <h6 class="card-title">Como deseja que o profissional entre em contato?</h6>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1">
              E-mail cadastrado
            </label>
            <br />
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1">
              Telefone cadastrado
            </label>
          </div>
          <br>
          <div class="btn-form-contratar">
          <button class="btn badge badge-pill btn-success my-2 my-sm-2 b-contratar" type="submit">CONTRATAR</button>
          </div>
        </div>
      </div>
    </main>

    <!-- footer section -->
    <%- include('./includes/footer') %>

  </body>
</html>
