<!DOCTYPE html>
<html lang="pt-br">

<!--Head-->
<%- include('./includes/head', {title: 'Fixa Lar | Criar Conta'}) %>

<link rel="stylesheet" href="/css/style-cadastro.css" type="text/css">

<body>
  <!--###### navbar section #############-->
<%- include('./includes/header') %>

<main class="container">
  <!-- <div class="card-crie-conta"> -->
    <div class="card my-3 mx-auto" style="max-width: 450px; display: block;">
      <div class="card-header text-white title-card">
        <h2 class="titulo-crie-conta">Crie sua conta</h2>
      </div>
      <div class="card-body">
      <p>Já possui cadastro? Clique <a class="clique-aqui" href="/#login">aqui</a> para login.</p>
    </div>

      <div class="card-deck card-principal pb-3">
        
        <div class="card">
          <a class="nounderline" href="/users/v1/register">
          <img class="card-img-top img-criar-conta" src="/img/cadastro-cliente.png" alt="img cadastro cliente">
          <div class="card-body card-escolha-cadastro">
            <p class="card-title titulo-escolha-cadastro">Cadastro de Cliente</p>
          </div>
        </div></a>

        
        <div class="card">
          <a class="nounderline" href="prestador/">
          <img class="card-img-top" src="/img/cadastro-prestador.png" alt="img cadastro prestador">
          <div class="card-body card-escolha-cadastro">
            <p class="card-title titulo-escolha-cadastro">Cadastro de Prestador</p>
          </div>
        </div></a>
    </div>

    <div>
      <a class="nounderline" href="/"><p class="p-voltar"><u>Voltar</u></p></a>
    </div>

    </div>
  <!-- </div>  -->
  <!--fim do card para cadastro-->
</main>

    <!-- footer section -->
    <%- include('./includes/footer') %>

    <!-- Bootstrap core JavaScript -->
    <script src="/jquery/jquery.slim.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>

</body>
</html>
