<!DOCTYPE html>
<html lang="pt-br">

<!--Head-->
<%- include('./includes/head', {title: 'Fixa Lar | Home'}) %>

<link rel="stylesheet" href="/css/index.css"/>

<body>

<!--###### navbar section #############--> 
<%- include('./includes/header') %>

 <!-- ######### hero section ########### -->
 <main>
  <%if(typeof(message) !== 'undefined') {%>
    <div class="pl-5 alert alert-danger" style="margin-bottom: 0;" role="alert">
      <%= message %>
    </div>
  <% } %>
  <section id="hero"
    style="height: 100vh; width: 100%; background: whitesmoke; overflow: hidden; position: relative;">
    <img src="/img/ferramentas_mesa.jpg" alt="ferramentas" style="object-fit: cover; opacity: 0.7; height: 100vh; width: 100%;" />
    <div style="position: absolute; top: 40vh; left: 30vw;">
      <h4 
        style="color: #140101;
        font-size: 2em;
        font-weight: 600;
        "
      >
        Micro Reparos ao seu alcance.
      </h4>
        <a class="btn badge badge-pill badge-success" 
         style="
          margin: 2rem 8.6rem; 
          color: whitesmoke; 
          font-size: 1.5em;
          font-weight: 400; 
          padding: 10px 15px;"
          href="/#banner1"
        >
          EXPERIMENTE
        </a>
    </div>
  </section>
 <!-- ###### end hero section ########## -->
 

  <!-- ########## login-section ####### -->
  <section class="login-section" id="login">
    <div class="container d-flex justify-content-between align-items-center">
      <!--text side-->
      <div class="text-dark text-center text-side-login ">
        <p>Se você precisa de <span>micro reparos</span> na sua</p>
        <p><span>residência, a <span class="text-side-login_fixalar">FIXA LAR</span> traz os</p>
        <p><span> melhores profissionais</span> na sua <span>região<span></p>
      </div>
      <!--end text side-->

      <!-- card de login -->
      <!--<div class="card border-success text-center mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 20rem;" id="login">
        <div class="card-header bg-transparent border-success">
          <div class="card-header_title">Minha Conta </div>
        </div>
        <div class="card-body text-success">

          <p class="card-text">-->
            <!--form login Cliente-->
            <!--<form action="/login" method="POST">
             
              <div class="form-group">
                <input type="text" class="form-control mb-2"  name="email" id="email" placeholder="Email"
                style="border-radius: 20px;"
                >
                <input type="password" class="form-control" name="password" id="password" placeholder="Senha"
                style="border-radius:20px"
                >
                  <small id="passwordHelpInline" class="text-muted card-footer_body-senha mb-2 mt-2" style="text-align: left;">
                  <a class="login-link pt-4" href="#">Esqueci minha senha</a>
                </small>
               
                <button type="submit" class="badge badge-pill badge-success" style="font-size: 1rem; padding: 7px 14px;">Entrando</button>
              </div>
            </form>
          </p>

        </div>
        <div class="card-footer bg-transparent border-success card-footer_call">Ainda não tem cadastro? <a class="login-link" href="criarConta">Cadastre-se</a></div>
      </div> -->
      <!-- end card login-->

<!-- inicio do novo login -->
<div class="bloco-login"> <!--inicio da div do bloco-->
      
  <div class="card border-success text-center mb-3 shadow-lg p-3 mb-5 bg-white rounded" style="max-width: 25rem;" id="login"> <!--inicio card-->

    <div class="card-header bg-transparent border-success">
      <div class="card-header_title">Minha Conta</div>
    </div> 
  
    <br>

    <ul class="nav nav-pills mb-4" id="pills-tab" role="tablist">
      <li class="nav-item link-nav">
        <a class="nav-link btn-outline-success active" id="pills-cliente-tab" data-toggle="pill" href="#pills-cliente" role="tab" aria-controls="pills-cliente" aria-selected="true">Cliente</a>
      </li>
        &emsp;&emsp;
      <li class="nav-item link-nav">
        <a class="nav-link btn-outline-success"  id="pills-prestador-tab" data-toggle="pill" href="#pills-prestador" role="tab" aria-controls="pills-prestador" aria-selected="false">Prestador</a>
      </li>  
    </ul>

    <!--pills tab content inicio-->
    <div class="tab-content" id="pills-tabContent">
      <!--id pills cliente inicio-->
      <div class="tab-pane fade show active" id="pills-cliente" role="tabpanel" aria-labelledby="pills-cliente-tab">
        
        <!--form cliente inicio-->
        <h5>Acesso como Cliente</h5>
          <p class="card-text">
              <!--form login Cliente-->
              <form action="/login" method="POST">
                <div class="form-group">
                  
                  <input type="text" class="form-control mb-2"  name="email" id="email" placeholder="Email"
                  style="border-radius: 20px;"
                  >
                  <input type="password" class="form-control" name="password" id="password" placeholder="Senha"
                  style="border-radius:20px"
                  >
                    <small id="passwordHelpInline" class="text-muted card-footer_body-senha mb-2 mt-2" style="text-align: left;"
                    >
                    <a class="login-link pt-4" href="#">Esqueci minha senha</a>
                    </small>
                  <button type="submit" class="badge badge-pill badge-success" style="font-size: 1rem; padding: 7px 14px;">Entrando</button>
                </div>
              </form>
            </p> <!-- form cliente fim-->

      </div><!--id pills cliente fim-->

      <!--id pills-prestador inicio-->
      <div class="tab-pane fade" id="pills-prestador" role="tabpanel" aria-labelledby="pills-prestador-tab">
        <!--form prestador inicio-->  
        <h5>Acesso como Prestador</h5>
          <p class="card-text">
              <!--form login Cliente-->
              <form action="/prestador/login" method="POST">
              
                <div class="form-group">
                  <input type="text" class="form-control mb-2"  name="prestador_email" id="prestador_email" placeholder="Email"
                  style="border-radius: 20px;">
                  
                  <input type="password" class="form-control" name="prestador_password" id="prestador_password" placeholder="Senha"
                  style="border-radius:20px">

                    <small id="passwordHelpInline" class="text-muted card-footer_body-senha mb-2 mt-2" style="text-align: left;">
                      <a class="login-link pt-4" href="#">Esqueci minha senha</a>
                    </small>
                
                  <button type="submit" class="badge badge-pill badge-success" style="font-size: 1rem; padding: 7px 14px;">Entrar</button>

                </div>

              </form>
            </p> <!-- form prestador fim-->

      </div><!--id pills-prestador fim-->
    
    </div><!--pills tab content fim-->

<div class="card-footer bg-transparent border-success card-footer_call">Ainda não tem cadastro? <a class="login-link" href="criarConta">Cadastre-se</a></div> <!--transferido-->

</div> <!--fim card-->
</div> <!--fim da div bloco-->
<!--Fim-->

      <!-- form prestador fim-->
</div>

<!-- fim do novo login -->

      <!--end card login -->
    </div>
  </section>
  <!-- ###### end login-section ######### -->

  <!-- ######################section how it works #############################-->
  <section id="sect" class="container">
    <div class="image image1">
      <img src="/img/prestador_fundo_transparente.png" alt="Pretador Apresentando o Texto" />
    </div>
    <br>
        <p><h2>Como a <strong style="color:#43bd69">Fixa Lar</strong> funciona</h2></p>
        <p>Buscamos trazer uma solução para micro reparos do tipo que precisamos no dia a dia que não têm a necessidade
          de contratar grandes orçamentos como, por exemplo, troca de uma peça de azulejo, reparo de extensão queimada,
          pintura de uma pequena área, etc.
        </p>
        <p>Para isso, agregamos profissionais de diversas especialidades em nossa base de dados, todos com verificação e
          autenticação.</p>
        <p>Conectamos você a esses profissionais e buscamos ser a ponte mais eficiente para sanar suas necessidades.
        </p>
        <p><button id="btn-conheca" class="btn btn-success"><a href="busca">Faça uma busca e conheça alguns dos serviços oferecidos pela Fixa Lar</a></button></p>
      <!--<h5 class="my-4">Conheça alguns dos serviços oferecidos pela Fixa Lar</h5>-->
      <div class="container">
        <div class="row">
          <div class="col-sm"><img class="border border border-success rounded-circle" src="/img/conserto-chuveiro.png"
              alt="conserto chuveiro" style="width: 5rem; height: 5rem;"></div>
          <div class="col-sm"><img class="border border-success rounded-circle" src="/img/consertos-eletricos.png"
              alt="conserto elétrico" style="width: 5rem; height: 5rem;"></div>
          <div class="col-sm"><img class="border border-success rounded-circle" src="/img/montador-moveis.png"
              alt="montador de moveis" style="width: 5rem; height: 5rem;"></div>
          <div class="col-sm"><img class="border border-success rounded-circle" src="/img/reforma-geral.png"
              alt="reforma geral" style="width: 5rem; height: 5rem;"></div>  
      </div>
  </section>
  <!-- ###################end section how it works ############################-->

  <!-- ########## section profissionais em destaque ####### -->
  <!-- begin width overlay after card-deck -->
  <div id="banner1" style="height:570px;background-image:url(/img/ferrametas_up_and_down.png);background-position:center;background-size:cover;">
    <section class="container">
    <p class="font-weight-bold  pt-5" style="color: white;">Profissionais em destaque</p>
    <!--Cards - Best Ratings-->
      <div class="row">
        <!--Card 1-->
        <div class="col-md-4 mt-4" id="card-prestador">
          <div
            class="card text-center border border-warning p-2 shadow p-3 mb-5 bg-white rounded"
            style="width: 250px; height: 350px;"
          >
            <img
              src="/img/prestador-1.webp"
              class="card-img-top rounded-circle align-self-center pt-2 border border-dark"
              alt="prestador de serviços"
              style="height: 100px; width: auto;"
            />
            <div class="card-body">
              <h4 class="card-title mt-2 mb-2">John Doe</h4>
              <div class="mb-3">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
              </div>
              <p 
          class="p-0 text-muted"
          href="#" 
          style="text-decoration: underline; 
          font-weight: 400; font-size: 12px;
          "
        >São Paulo - Tatuapé</p>
        <p 
          class="card-text pt-2"
          style="
          font-family: 'Raleway';
          font-weight: lighter;
          letter-spacing: 0.0625em;
          font-size: 0.70rem;
          "
          >Civil, Hidráulica...</p>
          <div class="btn btn-success"><a href="contratar" class="link-card">Contratar</a></div>
            </div>
          </div>
        </div>
        <!--Fim - Card 1-->

        <!--Card 2-->
        <div class="col-md-4 mt-4" id="card-prestador">
          <div
            class="card text-center border border-warning p-2 shadow p-3 mb-5 bg-white rounded"
            style="width: 250px; height: 350px;"
          >
            <img
              src="/img/prestador-1.webp"
              class="card-img-top rounded-circle align-self-center pt-2 border border-dark"
              alt="prestador de serviços"
              style="height: 100px; width: auto;"
            />
            <div class="card-body">
              <h4 class="card-title mt-2 mb-2">John Doe</h4>
              <div class="mb-3">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </div>
              <p
                class="p-0 text-muted"
                href="#"
                style="text-decoration: underline; font-weight: 400; font-size: 12px;"
              >
                São Paulo - Tatuapé
              </p>
              <p
                class="card-text pt-2"
                style="font-family: 'Raleway'; font-weight: lighter; letter-spacing: 0.0625em; font-size: 0.7rem;"
              >
                Civil, Hidráulica...
              </p>
              <div class="btn btn-success"><a href="contratar" class="link-card">Contratar</a></div>
            </div>
          </div>
        </div>
        <!--Fim - Card 2-->

        <!--Card 3-->
        <div class="col-md-4 mt-4" id="card-prestador">
          <div
            class="card text-center border border-warning p-2 shadow p-3 mb-5 bg-white rounded"
            style="width: 250px; height: 350px;"
          >
            <img
              src="/img/prestador-1.webp"
              class="card-img-top rounded-circle align-self-center pt-2 border border-dark"
              alt="prestador de serviços"
              style="height: 100px; width: auto;"
            />
            <div class="card-body">
              <h4 class="card-title mt-2 mb-2">John Doe</h4>
              <div class="mb-3">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
              </div>
              <p
                class="p-0 text-muted"
                href="#"
                style="text-decoration: underline; font-weight: 400; font-size: 12px;"
              >
                São Paulo - Tatuapé
              </p>
              <p
                class="card-text pt-2"
                style="font-family: 'Raleway'; font-weight: lighter; letter-spacing: 0.0625em; font-size: 0.7rem;"
              >
                Civil, Hidráulica...
              </p>
              <div class="btn btn-success"><a href="contratar" class="link-card">Contratar</a></div>
            </div>
          </div>
        </div>
        <!--Fim - Card 3-->
      </div>
      <!-- end card deck -->
    </div>
  </section>
  <!-- ########## section profissionais em destaque end ####### -->

  <!-- ########## section call-to-action-2 last section on page ####### -->
  <section id="call-to-action"
    style="height: 100vh; width: 100%; background: whitesmoke; overflow: hidden; position: relative;">
    <img src="/img/ferramentas_ordem.jpg" alt="ferramentas" style="object-fit: cover; opacity: 0.3; height: 100vh; width: 100%;" />
    <div style="position: absolute; top: 45vh; left: 30vw;">
      <h4 style="color: #0e0202;">
        É ESPECIALISTA EM CONSERTOS E REPAROS?
        <button class="btn badge badge-pill badge-success" id="btn-parceiro" style="margin: 3rem 5rem;"><a href="/prestador">
          VENHA SER NOSSO PARCEIRO</a>
        </button>
      </h4>
    </div>
  </section>
  <!-- ###### section call-to-action-2 last section on page ######### -->
</main>

  <!-- footer section -->
  <%- include('./includes/footer') %>
</body>

</html>